:root {
  --color-text: rgb(36, 36, 36);
  --color-pink: #FFD6FF;
  --color-pink-purple: #E7C6FF;
  --color-purple: #C8B6FF;
  --color-purple-blue: #B8C0FF;
  --color-blue: #BBD0FF;
  --color-white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
  color: var(--color-text);
}

/*
  Header
*/

.header-daylight {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.header-daylight > nav {
  display: grid;
}

.header-daylight > nav > ul {
  display: flex;
}

.header-daylight > nav > ul > li {
  list-style: none;
  padding: 0 10px;
}

.header-daylight > nav > ul > li > a{
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  padding: 5px 10px;
}

/*
  Home
*/

.home-daylight {
  padding: 80px 0 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  background-image: linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
  background-size: 500%;
  animation: rotateBackground 3s infinite alternate;
}

.home-daylight > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-daylight > section > p {
  font-size: 1.5em;
}

.home-daylight > section > h1 {
  font-size: 5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.home-daylight > picture {
  width: 35vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.home-daylight > picture > img {
  width: 100%;
}

@keyframes rotateBackground {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

/*
  Projects
*/

.projects-daylight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0 0 0;
  align-content: center;
  background-color: var(--color-white);
  background-image: url("../public/first-pattern.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects-daylight > .project {
  width: 100%;
  padding: 30px;
}

.projects-daylight > .project > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  padding: 0 0 10px 0;
  text-align: center;
}

.projects-daylight > .project > p {
  font-size: 1.2em;
  text-align: justify;
  line-height: 30px;
  margin-top: 10px;
}

.projects-daylight > .project > .container-image-project {
  width: 550px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}

.projects-daylight > .project > .container-image-project > a > img {
  width: 100%;
  filter: grayscale(100);
  transition: 200ms ease-out;
  position: sticky;
  z-index: 0;
}

.projects-daylight > .project > .container-image-project > a > img:hover {
  transform: scale(1.09, 1.09);
  filter: grayscale(0);
}

.projects-daylight > .project > .container-link-extra {
  text-align: center;
  margin-top: 10px;
}

.projects-daylight > .project > .container-link-extra >.link-extra {
  font-size: 1.2em;
  font-weight: 700;
  transition: 200ms ease-in;
}

.projects-daylight > .project > .container-link-extra >.link-extra:hover {
  color: var(--color-pink-purple);
  background-color: var(--color-text);
  padding: 5px 20px;
  text-decoration: none;
}

/*
  About
*/

.about {
  background-color: var(--color-white);
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 80px 0 0 0;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-image: url("../public/second-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.about > div:first-child > picture {
  width: 400px;
  display: inline-block;
}

.about > div:first-child > picture > img {
  width: 100%;
  animation: borderImage 3s infinite alternate;
  border-radius: 50%;
}

.about > div:first-child > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.about > div:first-child > div > a > .icon {
  font-size: 30px;
}

.about > div:last-child {
  padding: 30px;
  background: rgba(249, 249, 249, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(249, 249, 249, 0.3);
  border-radius: 5px;
  margin: 20px;
}

.about > div:last-child > p {
  font-size: 1em;
  padding: 10px 0;
}

@keyframes borderImage {
  0% {
    border: 5px solid var(--color-blue);
  }
  25% {
    border: 5px solid var(--color-purple-blue);
  }
  50% {
    border: 5px solid var(--color-purple);
  }
  75% {
    border: 5px solid var(--color-pink-purple);
  }
  100% {
    border: 5px solid var(--color-pink);
  }
}

/*
  Contact
*/

.contact {
  height: 100vh;
  padding: 80px 0 0 0;
  display: grid;
  background-color: var(--color-white);
  background-image: url(../public/third-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact > div {
  place-self: center;
  background: rgba(249, 249, 249, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(249, 249, 249, 0.3);
  padding: 30px;
  border-radius: 5px;
}

.contact > div > h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 10px;
}

.contact > div > form {
  display: flex;
  flex-direction: column;
}

.contact > div > form > .container-email-name {
  display: flex;
}

.contact > div > form > .container-email-name > div {
  padding: 10px;
}

.contact > div > form > .container-email-name > div > label {
  padding: 0 10px 0 0;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.contact > div > form > .container-email-name > div > input {
  font-size: 20px;
  padding: 5px;
  border: 0;
  border-radius: 2px;
}

.contact > div > form > .container-message {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact > div > form > .container-message > label {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 0 10px 0;
}

.contact > div > form > .container-message > textarea {
  padding: 5px;
  font-size: 20px;
  border: 0;
  border-radius: 2px;
}

.contact > div > form > .container-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding: 10px;
}

.contact > div > form > .container-buttons > button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.contact > div > form > .container-buttons > button:first-child {
  background-color: var(--color-blue);
  transition: 300ms ease-in;
}

.contact > div > form > .container-buttons > button:first-child:hover {
  background-color: #B8C0FF;
}

.contact > div > form > .container-buttons > button:last-child {
  background-color: var(--color-pink);
  transition: 300ms ease-in-out;
}

.contact > div > form > .container-buttons > button:last-child:hover {
  background-color: #E7C6FF;
}

/*
  State manipulation
*/

.hover-active {
  -moz-box-shadow: -2px 16px 15px -4px rgba(36,36,36,0.49);
  -webkit-box-shadow: -2px 16px 15px -4px rgba(36,36,36,0.49);
  box-shadow: -2px 16px 15px -4px rgba(36,36,36,0.49);
}

header.scroll-active-header {
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(8.6px);
  transition: 300ms ease-out;
  z-index: 1;
}

header.scroll-active-header > nav > ul > li > a {
  color: var(--color-text);
  transition: 400ms;
}

header.scroll-active-header > nav > ul > li > a:hover {
  background-color: var(--color-text);
  color: var(--color-pink);
  border-radius: 2px;
}

/*
  + 4K screens
*/

@media screen and (min-width: 1441px){
  .home-daylight > section > h1 {
    font-size: 4em;
  }
  .home-daylight > picture {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1237px) {
  .projects-daylight > .project > .container-image-project {
    width: 44vw;
    height: auto;
  }
  .projects-daylight > .project {
    padding: 20px;
  }
  .about > div:last-child {
    padding: 25px;
  }
  .projects-daylight > .project > p {
    font-size: 0.8em;
    line-height: 25px;
  }
  .projects-daylight > .project > .container-link-extra >.link-extra {
    font-size: 0.9em;
  }
  .about > div:last-child > p {
    font-size: 0.8em;
  }
  .about > div:first-child > picture {
    width: 35vw;
  }
  .contact > div > form > .container-email-name > div > label,
  .contact > div > form > .container-message > textarea,
  .contact > div > form > .container-email-name > div > input,
  .contact > div > form > .container-message > label {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .home-daylight {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 30px;
  }
  .home-daylight > section {
    grid-row-start: 2;
  }
  .home-daylight > picture {
    width: 50vw;
  }
  .home-daylight > section > h1 {
    font-size: 6vw;
  }
  .home-daylight > section > p {
    font-size: 4vw;
  }

  .projects-daylight {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .projects-daylight > .project > .container-image-project {
    width: 100%;
    height: auto;
  }
  .projects-daylight > .project > p {
    font-size: 1em;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .about > div:last-child {
    padding: 20px;
    margin: 40px 20px;
  }
  .about > div:first-child {
    padding-top: 30px;
  }
  .about > div:first-child > picture {
    width: 60vw;
  }
  .about > div:last-child > p {
    font-size: 3vw;
  }

  .contact > div > form > .container-email-name {
    flex-direction: column;
  }

  .contact > div > form > .container-email-name > div > label,
  .contact > div > form > .container-email-name > div > input,
  .contact > div > form > .container-message > label,
  .contact > div > form > .container-message > textarea {
    font-size: 3vw;
    width: 100%;
  }
}