@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@900&display=swap');

#root {
    background-color: rgb(207, 207, 207);
}

.App {
    max-width: 1440px;
    margin: 0 auto;
}